<h1>Listing toilets</h1>

<table>
  <tr>
    <th>Occupied</th>
    <th>Sender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @toilets.each do |toilet| %>
  <tr>
    <td><%= toilet.occupied %></td>
    <td><%= toilet.sender %></td>
    <td><%= link_to 'Show', toilet %></td>
    <td><%= link_to 'Edit', edit_toilet_path(toilet) %></td>
    <td><%= link_to 'Destroy', toilet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Toilet', new_toilet_path %>
